/**
* Name: Leony Brok
* Student number: 10767215
*
* Color scheme
* Dark grey = #4C5160
* Dark purple = #241557
* Light green = #93B7BE
* Green = #73a2ab
**/

/* */
.bg1 {
    background-color: #4C5160; /* Dark grey */
    color: #ffffff;
}
.bg2 {
    background-color: #ffffff;
    color: #000000;
}
.bg3 {
    background-color: #241557; /* Dark purple */
    color: #ffffff
}
.bg4 {
    background-color: #93B7BE; /* Light green */
    color: #ffffff;
}
.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Default button */
.btn.btn-primary{
  background-color: #4C5160;
  color: #fff;
  border-radius: 0;
  transition: .7s;
  border-color: #fff;
}
/* Active button */
.btn.btn-primary.active, .btn.btn-primary.active.focus {
    background-color: #93B7BE;
    color: #fff;
    border-color: #fff;
}
/* Hover button */
.btn.btn-primary.active:hover, .btn.btn-primary:hover{
    background-color: #73a2ab;
    color: #fff;
    border-color: #fff;
}

.graphTitle {
  font-weight: bold;
}

.barchart rect {
  fill: #241557;
}
.map path {
  fill: #241557;
}

/* Axis styles */
.axis text {
  font: 12px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Tooltip for map and barchart */
.d3-tip {
  text-align: center;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
