/*
Name: Leony Brok
Student number: 10767215

oranje: #FBA90A
lichtblauw: #D4E4F7
blauw: #236AB9
donkerblauw: #190934;
*/
body {
    background-color: #D4E4F7;

}

.chart rect {
  fill: #236AB9;
}

.axis text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}
.chart rect:hover {
  fill: orangered ;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
