/*
Name: Leony Brok
Student number: 10767215
*/

body {
    background-color: #D4E4F7;
    font-family: sans-serif;
}

.scatterplot dot{
  fill: #000000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
